#edit-commerce-payment-payment-method .form-type-radio:only-child{
  display:none;
}

.commerce_payment #payment-details .form-item-commerce-payment-payment-details-credit-card-owner label,
.commerce_payment #payment-details .form-item-commerce-payment-payment-details-credit-card-number label,
.commerce_payment #payment-details .form-item-commerce-payment-payment-details-credit-card-code label,
.commerce_payment #payment-details .form-item-commerce-payment-payment-details-expiry label{
  display:none;
}


#payment-details{
  text-align: center;
  margin-bottom:1em;
}

.form-item-commerce-payment-payment-details-credit-card-number.form-item,
.form-item-commerce-payment-payment-details-credit-card-code.form-item,
.form-item-commerce-payment-payment-details-credit-card-expiry.form-item{
  margin:0;
}

.form-item-commerce-payment-payment-details-expiry,
.form-item-commerce-payment-payment-details-credit-card-code{
  display:inline-block;
}

*[id^='edit-commerce-payment-payment-details-credit-card-owner'],
*[id^='edit-commerce-payment-payment-details-credit-card-number'],
*[id^='edit-commerce-payment-payment-details-credit-card-expiry'],
*[id^='edit-commerce-payment-payment-details-credit-card-code']
{    
    -webkit-appearance: none;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);    
    font-size: 0.875rem;
    margin: 0;
    padding: 0.5rem;
    height: 2.3125rem;
    display:inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

*[id^='edit-commerce-payment-payment-details-credit-card-owner']{
  margin-bottom:0;
}

*[id^='edit-commerce-payment-payment-details-credit-card-owner'],
*[id^='edit-commerce-payment-payment-details-credit-card-number']{
  width:224px;
}

*[id^='edit-commerce-payment-payment-details-credit-card-expiry'],
*[id^='edit-commerce-payment-payment-details-credit-card-code']{
  width:112px;
  margin-bottom:.5em;
}

.form-item-commerce-payment-payment-details-credit-card-cardonfile-store{
  clear:both;  
}

.commerce-credit-card-start,
.commerce-credit-card-expiration{
  margin:0;
}

.card-message{
  text-align:center;
  background-color:#4baef1;
  color:#fff;  
  margin-bottom:1em;
}
.card-message p{
  color:#fff;
  margin:.5em 0;
}


body.section-checkout .jp-card .jp-card-front .jp-card-display,
body.section-checkout .jp-card .jp-card-back .jp-card-display{
  color:#333;
}
.form-item-commerce-payment-payment-details-credit-card-number,
.commerce-credit-card-expiration{
  display:none;
}
